@use '../abstracts' as *;

:root {
   // fonts:
   --roboto: "Roboto", sans-serif;
   // colors:
   --white: White;
   --background: Teal;
   --primary: MediumSpringGreen;
   --secondary: Lavender;
}

body {
   @include bg($c: $background);
   @include pbm($p: 2rem, $pt: 5rem);
}
