@use '../abstracts' as *;

.btn {
   @include size($h: 5rem, $w: 18rem);
   @include bg($c: $primary);
   @include typo($c: $background, $ff: $roboto, $fs: 2rem, $fw: 600);
   @include pbm($b: none, $rad: 1rem, $m: 0 auto, $mt: 5rem);
   @include flex($jc: center, $ai: center);
   cursor: pointer;
   outline: none;

   &:hover {
      @include bg($c: #4fffbb);
   }
   &:active {
      @include bg($c: $primary);
   }
   &:focus {
      box-shadow: 0 0 0 4px rgb(0 255 157 / 30%);
   }
}
