doctype html
html(lang='en' dir='ltr')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(http-equiv='X-UA-Compatible' content='ie=edge')
		title Webpack Demo
		link(rel='icon' href='/assets/favicon/favicon.ico?v=2')
		link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap")
		- if ( process.env.FENV === 'production')
			link(rel='stylesheet' href=`/${bundle.style}`)
		
	body
		block content
		block script