
extends base

block append script
	- if ( process.env.FENV === 'development')
		script(type='text/javascript' src='/vendor.bundle.js')
		script(type='text/javascript' src='/index.bundle.js')
	- else
		- if (assets.vendorBundle !== '')
			script(type='text/javascript' src=`/${assets.vendorBundle}`)
		script(type='text/javascript' src=`/${assets.indexBundle}`)

block content
	div.container
		div.header
			img.header__image(src="/assets/images/webpack.png")
			h1.header__title= title
		div.input-group
			label.input-group__label Enter your name:
			input.input-group__input(type="text" id="input")
		button.btn(id="greet-btn") Greet
			img.greet-svg(src="/assets/svg/greet.svg")
		h4(id="output")